.about {
    background: rgba(50, 50, 50, 0.397);
    width: 100%;
    height: 100%;
    padding: 0 12rem;
}

.about .title {
    padding-top:2em;
    margin-bottom: 2em;
}

.about .container {
    height: 100%;
    max-width: 100%;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    border-left: 1px solid  rgba(255, 255, 255, 0.774);
}


.about p {
font-size: 1.25rem;
line-height: 1.75rem;
text-align: justify;
}


.name {
    text-align: left;
}

.pink {
    color: hotpink;
}

.blue {
    color: var(--accent-react-blue-color);
}

/* .green {
    color: rgb(49, 242, 94);
} */


/* .about .email {
  font-family: 'Grey Qo', cursive;
  text-align: center;
  color: purple;
  letter-spacing: .3rem;
  font-size: 3rem;
  padding-bottom: .1em;
} */



@media screen and (max-width: 940px) {
   .about {
    height: auto;
    width: 100vw;
    padding: 0;
   }

   .about .title {
       text-align: center;
   }

   .about p {
    font-size: .55em;
    line-height: 1.75rem;
    text-align: left;
    }



    .two-columns {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .two-columns > * {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .two-columns p {
        letter-spacing: .1em;
        line-height: 3rem;
    }

    .two-columns .quotation {
        display: none;
    }

    #quotation-mobile {
        display: flex;
        text-align: center;
        color: var(--accent-react-blue-color);
        font-family: var(--Quote-font-family);
        font-style: italic;
        font-size: 1.5rem;
        border: 1px solid rgba(218, 218, 218, .8);
        box-shadow: 2px 1px 5px var(--accent-color-2);
        border-radius: 14px;
        padding: 1em;
        margin: 1em;
    }

    .about .container {
        border: none;
    }
}
