.about {
    background-color: var(--accent-mygrey);
    margin: auto;
    z-index: 0

}

.about .container {
    height: 100%;
    width: 100%;
    display: flex;
}

.about p {
    color: white;
}

.two-columns>* {
    display: grid
}

.two-columns {
    display: grid;
    max-width: 100vw;
    margin: 2rem 4rem;
    grid-template-columns: repeat minmax(150px, 1fr);
    grid-gap: 10px;
}

.one, .centered {
    grid-column: 1/-1;
    line-height: 2.5rem;
}

.two-columns .one {
    grid-row: 1/2;
}

.two-columns .quotation{
    grid-column: 2/3;
    text-align: center;
    letter-spacing: .3rem;
    font-size: 2rem;
    margin: 0 0 1rem 1rem;
    text-align: justify;
    color: rgb(198, 198, 198);

}

.two-columns .two, .two-columns .three {
    grid-column: 4/-2;
    text-align: justify;
    line-height: 2.5rem;

}

.bold {
    /* font-style:italic; */
    font-family: var(--Heading-font-family);
    color: white;
}


.about .email {
  font-family: 'Grey Qo', cursive;
  text-align: center;
  color: var(--accent-react-blue-color);
  letter-spacing: .2rem;
  font-size: var(--fs-lg);
}

@media screen and (max-width: 940px) {

    .two-columns {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .two-columns > * {
        display: flex;
        flex: 1 1 90vw;
        flex-basis: 90vw;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: justify;
    }

    .two-columns p {
        letter-spacing: .1em;
        line-height: 3rem;
    }

    .two-columns .quotation {
        text-align: center;
    }
}
