
.connect {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.connect .container {
    display: block;
    content: '';
    /* background: rgba(50, 50, 50, 0.397); */
    background: rgb (34, 34, 34);
    background-attachment: fixed;
    /* background: url("../images/Backgound-dots.png"); */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.connect .title {
    color: rgb(189, 183, 180);
    text-align: center;
    font-family: 'Grey Qo', cursive;
    font-size: 4.3rem;
    text-transform: capitalize;
    margin-bottom: -4rem;
    margin-top: 4rem; 
}


.connect .content { 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    padding-bottom: 5rem;

}



@media screen and (max-width: 532px){
   
}