.footer-nav { 
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.623);

}

.footer-nav .navbar {
    height:100%; /*must give height or flex won't display properly*/
}

.footer-nav .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: 'Raleway', sans-serif;
    font-size: .6rem;
    text-align: center;
}

 .copyright {
    padding: 0 0 .5rem 1.5rem;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    color: rgb(189, 183, 180);
    font-family: 'Raleway', sans-serif;
    font-size: .6rem;
}



