.footer-nav { 
    height:100%;
    width: 100%;
}

.footer-nav .navbar {
    height:100%; /*must give height or flex won't display properly*/
}

 .copyright {
    padding-left: 1.5rem;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    font-family: var(--Main-font-family);
    font-size: 1rem;
    color: white;
}



