
.footer {
    margin: 0;
    background: rgba(50, 50, 50, 0.397);
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
}

.footer .container {
    max-width: 100vw;
    height: auto;
        display: block;
        content: '';
        background-color: rgb(15,16,14);
        background-attachment: fixed;
        /* background: linear-gradient(
            hsl(0 0% 0% / 0),
            rgba(75, 74, 74, 0.5) 20%,
            hsl(0 0% 0% / 1))
            , url("../images/theend.jpg"); */
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        overflow: hidden;
}

.footer .main-hero {
    content: '';
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer .mobile-hero {
    display: none;
}

.footer .content {
    height: 100vh;
    max-width: 100vw;
    padding: 3rem;
}

.connect-container {
    min-height: 90vh;
    min-width: 35vw;
    /* border: 2px solid var(--accent-color-2);
    border-radius: 14px; */
    padding: 40px;
    line-height: 3.5rem;
    /* box-shadow: 2px 1px 5px var(--accent-color-2); */
    flex-wrap: wrap;



}

.connect{
    font-family: 'Grey Qo', cursive;
    font-size: 5rem;
    font-weight: 100;
    padding-bottom: .5em;
    text-align: center;
    color: white;
    color: white;
}


@media screen and (max-width: 940px) {
    .footer .mobile-hero {
        content: '';
        background-size: cover;
        background-position: center center;
        height: 100%;
        max-width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    
}
