
.footer {
    margin: 0;
    /* background: rgba(50, 50, 50, 0.397); */
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 940px) {
    .footer .mobile-hero {
        content: '';
        background-size: cover;
        background-position: center center;
        height: 100%;
        max-width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    
}
