
.footer {
    margin: 0;
    background-color: var(--primary-dark);
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
}

.footer .container {
    max-width: 100vw;
    height: auto;
}

.footer .main-hero {
    content: '';
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer .mobile-hero {
    display: none;
}

.footer .content {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    max-width: 100vw;
    margin: auto;
    padding: 3rem;
}

.connect{
    font-family: var(--Main-font-family);
    color: var(--accent-react-blue-color)

}

.footer .connect, .footer, .email {
    text-align: right;
    padding-bottom: 2em;
}
.social {
    display: flex;
    justify-content: flex-end;
}

.social ul {
    display: flex;
}

.social .social-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


.footer .social a {
    display: flex;
    flex-direction: column;
    font-family: var(--Header-font-family);
    font-weight: bold;
    margin-left: 1em;
    list-style: none;
}

@media screen and (max-width: 940px) {
    .footer .mobile-hero {
        content: '';
        background-size: cover;
        background-position: center center;
        height: 100%;
        max-width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }

    
}
