
.hero {
    background-color: var(--overlay);
    color: white;
    height: 100vh;
    width: 100vw;
    position: relative
}

.main-hero {
    content: '';
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.mobile-hero {
    display: none;
}

.hero .content { 
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    max-width: 100vw;
    margin: auto;
    padding: 1rem;
}



.tasha-logo{
    display: flex;
    align-self: center;
    /* flex: 1 1 25vw; */
}

.content .title-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-row .fs {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-react-blue-color);
}

.title-row .se {
    font-family: 'Grey Qo', cursive;
    font-size: 10vw;
    font-weight: lighter;
    text-transform: capitalize;
    color: white;
}

.hero .content .mobile-fs, hero .content span .mobile-se {
    display: none;
}

.hero .quotation {
    font-size: var(--fs-700);
    text-align: center;
    letter-spacing: .3em;
    font-size: clamp(1.5rem, 0.72rem + 1.64vw, 2.5rem);
    margin: 2em;
    color: rgb(198, 198, 198);
    
}

@media screen and (max-width: 940px) {
    .main-hero {
        display: none;
    }

    .hero .mobile-hero {
        display: flex;
        content: '';
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
    }
}