
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.main-hero {
    display: block;
    content: '';
    background: rgba(50, 50, 50, 0.397);
    background-attachment: fixed;
    background: linear-gradient(
        hsl(0 0% 0% / 1),
        rgba(75, 74, 74, 0.5) 20%,
        hsl(0 0% 0% / 0))
        , url("../images/bwdark.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.mobile-hero {
    display: none;
}

.hero .content { 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    line-height:calc(18vh/1.618);
}

.tasha-mobile-logo{
    display: none;
}


.uxds {
    font-family: 'Grey Qo';
    font-weight: bold;
    font-size: clamp(2.6rem,1.618*100vh, 10rem);
    text-align: center;
    color: black;
}

.uxd {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(1.6rem, 1.618*100vw, 1.6rem);
    font-weight: lighter;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
