
.hero {
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    padding: 0 0 20rem 0;
    
}

.main-hero {
    display: block;
    content: '';
    background-color: var(--overlay-light);
    background-size: cover;
    background-position: center center;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.mobile-hero {
    display: none;
}

.hero .content { 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    margin: auto;
}

.tasha-logo{
    display: flex;
    align-self: center;
    height: auto;
    max-width: 25vw;
    margin-top: 5em;
    margin-bottom: -3em;
}
.tasha-mobile-logo{
    display: none;
}

.content .title-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-row .fs {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    font-size: var(--fs-700);
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color-2);
}

.title-row .se {
    font-family: 'Grey Qo', cursive;
    font-size: var(--fs-xl);
    font-weight: lighter;
    text-transform: capitalize;
    /* color: white; */
    color: var(--accent-react-blue-color);
    margin-top: .5em;

}

.hero .content .mobile-fs, hero .content span .mobile-se {
    display: none;
}

.hero .quotation {
    text-align: center;
    letter-spacing: .4em;
    font-family: Raleway;
    font-size: clamp(1.5rem, 0.72rem + 1.64vw, 2.5rem);
    padding: 0 12vw;
}

.bolden {
    font-style: normal;
    color: var(--accent-react-blue-color);
}

@media screen and (max-width: 940px) {

    

    .main-hero {
        display: none;
    }

    .tasha-mobile-logo{
        display: flex;
        align-self: center;
        height: auto;
        max-width: 50vw;
        margin-top: 8em;
    }

    .tasha-logo{
        display: none;
    }


    .title-row .fs {
        font-size: var(--fs-800);
        padding-top: .5em;
        padding: bottom
    }
    
    .title-row .se {
        font-size: var(--fs-800);
    }




}