
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.main-hero {
    display: block;
    content: '';
    background: rgba(50, 50, 50, 0.397);
    background-attachment: fixed;
    background: linear-gradient(
        hsl(0 0% 0% / 1),
        rgba(75, 74, 74, 0.5) 20%,
        hsl(0 0% 0% / 0))
        , url("../images/bwdark.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.mobile-hero {
    display: none;
}

.hero .content { 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    margin: auto;
    padding-bottom: 2rem;
}


.tasha-logo{
    display: flex;
    align-self: center;
    height: auto;
    max-width: 25vw;
}

.tasha-mobile-logo{
    display: none;
}

.content .title-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.title-row .fs {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    font-size: clamp(1.5rem, 0.72rem + 1.64vw, 2.5rem);;
    text-transform: uppercase;
    text-align: center;
    color: rgb(125,128,133);
}

.title-row .se {
    font-family: 'Grey Qo', cursive;
    font-size: clamp(4.5rem, 3.72rem + 3.96vw, 5.5rem);;
    font-weight: lighter;
    text-transform: capitalize;
    color: var(--accent-react-blue-color);

}

.hero .content .mobile-fs, .hero .content span .mobile-se {
    display: none;
}

.hero .quotation {
    text-align: center;
    letter-spacing: .4em;
    font-family: Raleway;
    font-size: 1.5rem;
    padding: 1rem 5vw 2rem 5vw;
}

.bolden {
    font-style: normal;
    color: var(--accent-react-blue-color);
}

@media screen and (max-width: 940px) {

    .tasha-mobile-logo{
        display: flex;
        align-self: center;
        height: auto;
        max-width: 50vw;
        margin-top: -3em;
    }

    .tasha-logo{
        display: none;
    }


    .title-row .fs {
        font-size: clamp(1.5rem, 0.72rem + 1.64vw, 2.5rem);;
        padding-top: .5em;
        padding: bottom
    }
    
    .title-row .se {
        font-size: clamp(2.5rem, 0.72rem + 1.64vw, 3.5rem);;
    }




}