
  .contact-form {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .contact-form .container{
    display: flex;
    height: 100%;
    weight: 100%;
    }
  
    Form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.75em;
    min-width: 30vw;
    min-height: 65vh;
    color: var(--accent-react-blue-color);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.034);
    padding: 20px;
    }

  
    button  {
        align-self: center;
    width: 150px;
    font-size: 1rem;
    font-family: var(--Heading-font-family);
    color:white;
    background-color: var(--primary-color);
    padding: 0.5em 1.25em;
    border-radius: 14px;
    border: 2px solid var(--accent-react-blue-color);
    cursor: pointer;
    margin-top: 1rem;
    }

    input, textarea {
    align-self: center;
    border-radius: 4px;
    border-color: var(--accent-color-2);
    padding: .4em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25,25,25);
    color: var(--accent-color-2);
    }

    input {
    width: 280px;
    }

    label:hover{
      color: white;
    }

    textarea {
    width: 280px;
    height: 150px;
    }
  
  button:hover, button:focus {
  background-color: rgb(218,218,218);
  color: var(--primary-color)
  }


.social {
  display: flex;
  justify-content: center;

}

.social .social-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.social a {
  display: flex;
  flex-direction: column;
  font-family: var(--Header-font-family);
  margin: 0 .5em;
  padding-top: 1rem;
  list-style: none;
  font-size: 1.75rem;
  color: white;
  

}

.social a:hover {
  color: var(--accent-react-blue-color)
} 


  @media screen and (max-width: 940px) {
      Form {
          min-width: 80vw;
          min-height: 60vh;
      }
      .social a {
        margin-top: .5em;
    }
  }
  
  