body:before {
display: none;
}

.header {
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    height: 3rem;
    width: 100%;
    top:0;
    left:0;
    z-index:1; 
    transition: .3s ease-in;
    overflow: hidden;
}

.header i {
    color: var(--accent-react-blue-color);
    font-size: 1rem;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.react-text {
    color: var(--accent-react-blue-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: auto;
    height:100%; /*must give height or flex won't display properly*/
    padding: 0 1em;
}

.header .nav-menu a {
    font-family: var(--Main-font-family);
    font-weight: bold;
    font-size: .75rem;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 0 1rem .5em 1rem;


}

.header .logo {
    color: var(--accent-react-blue-color);
    font-family: var(--Heading-font-family);
    font-size: var(--fs-500);
    font-weight: bold;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

}
.hamburger {
    display: none;
}

@media screen and (max-width:940px) {
    .header {
        /* background-color: black; */
        background-color: rgba(0, 0, 0, 0.623);
        max-width: 100%;
        /* height: 90px; */
    }

    .header .navbar {
        display: flex;
        justify-content: space-between;
        align-content: center;
        max-width: 100%;
        height: 50px;
    }

    .hamburger {
        display: block;
        padding-top: .5em;
    }

    ul {
        justify-content: space-evenly;
    }

    .header .nav-menu a {
        font-family: var(--Main-font-family);
        font-size: .8rem;
        font-weight: normal;
    }
    

    /* dropdown menu */
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        flex-direction: column;
        background-color: var(--primary-dark
        );
        width: 100%;
        height: 90vh;
        z-index:999;
        text-align: center;
        transition: .5s;
    }
    /* this is how menu toggles */
    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .nav-item a:hover {
        padding-bottom: .5em;
        
    }



}

