.portfolio{
    background-color: var(--accent-soft-gray-color);
    margin: auto;
}

.portfolio .container {
    height: 100vh;
}

.portfolio h2 {
    padding: 2rem 0;
}


/* ----------- Media Queries Section ---------- */

@media screen and (max-width: 667px){
    
    .portfolio {
        margin: auto;
        height: auto;
        padding: 8rem 1 rem 0 1rem;
    }
    
    .portfolio .container {
        height: auto;
        display: flex;
        justify-content: center;
        align-content:flex-start;
        flex-direction: column;
        padding-top: 1em;
        margin: -2em 2em;
        text-align: justify;
    }

    .portfolio h2 {
        padding: 2rem;
    }
}