.portfolio {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgb(9, 9, 9);
    z-index: -1;
}

.portfolio .content-grid {
    display: grid;
    max-width: 100%;
    height: auto;
    align-items: center;
    margin: 0 4rem;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

