.resume {
    padding: 0 2rem;
    padding-bottom: 2em; 
    height: 100%;
    width: 100%;
}

.resume .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.resume .title {
    padding-top:2em;
    margin-bottom: 2em;
    color: black;
}

.resume .boxes {
    display: flex;
    max-width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content:center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.resume .card {   
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* border-radius: 14px; */
    /* background: rgba(50, 50, 50, 0.397); */
    background-color: black;
    flex-basis: 350px;
    font-size: .6rem;
    overflow: auto;
    padding: 2.5rem;
    width: 33.33%;
    margin-top: -1rem;
}

.resume .heading {
    padding: .5rem  1rem 1rem 1rem;
    text-align: center;
    /* color: rgb(189, 183, 180); */
    /* color: white; */
    font-size: 1rem;
}

.resume .cardText {
    padding: .5rem;
    flex-grow: 1;
    text-align: center;
    word-spacing: 2px;
}

.skills {
color: rgb(189, 183, 180);
font-size: 1rem;
line-height: 1.5rem;
/* font-weight: bold; */
/* text-transform: uppercase; */
}

.exp, .edu, .bold {
    color: rgb(189, 183, 180);
    font-size: 1rem;
}

.bold {
    font-weight: bold;
}

/* .resume .line {
    background-color: var(--accent-react-blue-color);
} */

/* ----------- Media Queries Section ---------- */
@media screen and (max-width: 940px){

    .resume{
        padding: 0;
        width: 100vw;
        height: auto;
    }
    .resume .title {
        text-align: justify;
    }

    .resume .card {   
        width: 100vw;
        display: flex;
        justify-content: space-around;
        margin: 30px;
        padding: 1em;
        /* line-height: 2em; */
    }

    .resume .boxes {
        font-size: 1rem;
        font-family: var(--Quote-font-family);
        /* line-height: 1.25rem;   */
        text-align: center; 
     }

}