.resume {
    height: 100%;
    margin: auto;
    background-color: rgb(9, 9, 9);
    z-index: -1;
}

.resume .container {
    max-width: 100vw;
    height: auto;
    align-items: center;
    /* padding-bottom: 2em; */
}

.resume .container .category,  .resume .container .heading{
    font-family: 'Grey Qo', cursive;
    color: var(--accent-cream-color);
    font-size: 4rem;
    text-align: center;
}
.resume .container .mobile-h2 {
    display: none;

}
.resume .container .heading {
    display: none;
}

.resume .container .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

}

.resume .container .card {
    display: flex;
    flex-direction: column;
    background-color: rgba(94, 94, 94, 0.63);
    border: 1px double var(--accent-react-blue-color);
    border-radius: 8px;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, .2); */
    text-align: center;
    /* flex: 1 1 100px; */
}

.resume .card p {
    color: white;
    font-size: 1em;
    line-height: 1.5rem;
    font-weight: bold;
}

.resume .line {
    background-color: white;
}

.resume p {
    padding: 1em;
    font-weight:500;
}

/* ----------- Media Queries Section ---------- */
@media screen and (max-width: 940px){
    .resume {
        background-color: rgb(9, 9, 9);
        background-color: var(--primary-dark);
        z-index: -1;
    }

    .resume .container {
        padding: 2em 0 1em 0;
        font-size: 1.1em;
        height: auto;
        width: 100%;
        line-height: 1em;
    }

    .resume .container .category {
        display: none;
    }

    .resume .container .heading {
        font-family: 'Grey Qo', cursive;
        font-size: 4rem;
        text-align: center;
        display: flex;
    }

    .resume .container .card {
        margin: 2em;
        z-index:0;
    }
    
    .resume .container .content {
        grid-template-columns: 1fr;
        padding-top: 2em;
    }

    .resume .card p {
        line-height: 2rem;
    }

    
}