.resume {
    margin: auto;
}

.resume .container {
    height: 100vh;
}

.resume .container .category,  .resume .container .heading{
    font-family: 'Grey Qo', cursive;
    color: black;
    font-size: 4rem;
    text-align: center;
}

.resume .container .heading {
    display: none;
}

.resume .container .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.resume .container .card {
    background-color: rgba(128, 128, 128, 0.63);
    border: 1px double var(--accent-soft-gray-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 1em;
    z-index: -1;

}

.resume .card p {
    color: white;
    font-size: 1em;
    line-height: 1.5rem;
    font-weight: bold;
}

.resume .line {
    background-color: white;
}

.resume p {
    padding: 1em;
    font-weight:500;
}

/* ----------- Media Queries Section ---------- */
@media screen and (max-width: 667px){
    
    .resume .container {
        margin: 1rem;;
        font-size: 1.1em;
        height: auto;
        width: 100%;
        line-height: 1em;
    }

    .resume .container .category {
        display: none;
    }

    .resume .container .heading {
        font-family: 'Grey Qo', cursive;
        color: black;
        font-size: 4rem;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        
    }

    .resume .container .card {
        margin: 2em;
    }
    
    .resume .container .content {
        grid-template-columns: 1fr;
    }

    .resume .card p {
        line-height: 2rem;
    }
    
}