.resume {
    background: rgba(50, 50, 50, 0.397);
    height: 100%;
    width: 100%;
    padding: 0 12rem;
}

.resume .container {
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.resume .title {
    padding-top:2em;
    margin-bottom: 2em;
}

.resume .content {
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.resume .card-title {
    font-family: var(--Main-font-family);
    font-size: 1.25rem;
}

.resume .content {
   font-size: 1rem;
   font-family: var(--Quote-font-family);
   line-height: 1.25rem;  
   text-align: center; 
   flex-wrap: wrap;   
}

.resume .card {   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 375px;
    height: 400px;
    justify-content: space-around;
    margin: 20px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.034);
    box-shadow: 2px 1px 5px var(--accent-color-2);
    flex: 1  1 190px;
    padding: 1em;
    overflow: auto;
}

.resume .card-content {
    display: flex;
    height: 100%;
    width: 100%;
}

.resume .line {
    background-color: var(--accent-react-blue-color);
}

/* ----------- Media Queries Section ---------- */
@media screen and (max-width: 940px){

    .resume{
        padding: 0;
        width: 100vw;
        height: auto;
    }
    .resume .title {
        text-align: center;
    }

    .resume .card {   
        width: 275px;
        height: 300px;
        justify-content: space-around;
        margin: 30px;
        padding: 1em;;
    }

}