.about {
    width: 100%;
    height: 100%;
    padding: 0 12rem;
}

.about .container {
    height: auto;
    max-width: 100%;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    border-left: 1px solid  rgba(255, 255, 255, 0.774);
}


.about p {
font-size: .35em;
}

.two-columns>* {
    display: grid
}

.two-columns {
    display: grid;
    max-width: 100vw;
    margin: 1rem 1rem;
    grid-template-columns: repeat minmax(150px, 1fr);
    grid-gap: 2px;
}

.one, .centered {
    grid-column: 1/-1;
    line-height: 2rem;
}

.two-columns  {
    grid-row: 1/2;
}

.two-columns .centered {
    display: none;
}

#quotation-mobile {
    display: none;
}

.two-columns .quotation{
    background: rgba(255, 255, 255, 0.034);
    grid-column: 2/-1;
    line-height: 2rem;
    margin: 0 0 1rem 1rem;
    text-align: center;
    color: var(--accent-react-blue-color);
    font-size: 1.5rem;
    border: 1px solid  rgba(218, 218, 218, 0.8);
    border-radius: 14px;
    box-shadow: 2px 1px 2px var(--accent-color-2);

    padding: 1em;

}


.two-columns .two, .two-columns .three {
    grid-column: 4/-2;
    text-align: justify;
    line-height: 2rem;

}

.bold {
    font-family: var(--Heading-font-family);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}


.about .email {
  font-family: 'Grey Qo', cursive;
  text-align: center;
  color: var(--accent-react-blue-color);
  letter-spacing: .3rem;
  font-size: 3rem;
  padding-bottom: .1em;
}



@media screen and (max-width: 940px) {
   .about {
    height: auto;
    width: 100vw;
   }



    .two-columns {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .two-columns > * {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: justify;
    }

    .two-columns p {
        letter-spacing: .1em;
        line-height: 3rem;
    }

    .two-columns .quotation {
        display: none;
    }

    #quotation-mobile {
        display: flex;
        text-align: center;
        color: var(--accent-react-blue-color);
        font-family: var(--Quote-font-family);
        font-style: italic;
        font-size: 24px;
        border: 1px solid rgba(218, 218, 218, .8);
        box-shadow: 2px 1px 5px var(--accent-color-2);


        border-radius: 14px;
        padding: 1em;
        margin: 1em;
    }

    .about .container {
        border: none;
        margin: 1em;
    }
}
