.works {
    height: 100%;
    width: 100vw;
    background: rgb(255, 255, 255);
}
.works-container {
    display: flex;
    height: 100%;
    content: '';
    align-items: flex-start;
}

.left-side {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
}

.section-1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    }
    
    .section-1 .t2s {
        color: black;
        /* color: white; */
        
    }
    .case-studies {
        display: flex;
    }

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: rgb(15,16,14);
}

.section-2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    }

 .section-2 .t4s {
    /* color: black; */
    /* color: white; */
    color: rgba(189, 183, 180, 0.65);

}
.section-2 .t2s {
    /* color: black; */
    /* color: rgb(255, 255, 255, .8); */
    /* color: rgb(189, 183, 180); */
    color: white;

}


.web-dev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex:1;
    flex-wrap: wrap;
}

.works p {
font-size: .25 rem;
color: white;
}

/* ------------------ Case Study Cards ------------------ */


.bellissima-app {
    background: url("../images/Portfolio/bellissima.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    width: 200px;
    height: 300px;
    max-width: 40ch;
    box-shadow: 2px 1px 5px var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.sanna {
    background: url("../images/Portfolio/sanna.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    background-position: center;
    width: 200px;
    height: 300px;
    max-width: 40ch;
    box-shadow: 2px 1px 5px var(--primary-color);
    overflow: hidden;
    margin: 20px;
}

/* ------------------ Dev App Cards ------------------ */


.done-app {
    background:  url("../images/Portfolio/done.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    width: 200px;
    height: 300px;
    max-width: 40ch;
    box-shadow: 2px 1px 5px rgba(189, 183, 180, 0.427);

    border-radius: 8px;
    overflow: hidden;
    margin: 20px;

}

.gifs-app {
    background:url("../images/Portfolio/gifsfortoday.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    width: 200px;
    height: 300px;
    max-width: 40ch;
    box-shadow: 2px 1px 5px rgba(189, 183, 180, 0.427);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.tech-app {
    background:  url("../images/Portfolio/tcd.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    background-position: left;
    width: 200px;
    height: 300px;
    max-width: 40ch;
    box-shadow: 2px 1px 5px rgba(189, 183, 180, 0.427);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}
.read-it {
    background: url("../images/Portfolio/readit.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    width: 200px;
    height: 300px;
    max-width: 40ch;
    box-shadow: 2px 1px 5px rgba(189, 183, 180, 0.427);
    overflow: hidden;
    margin: 20px;
}

.tle{
    background: url("../images/Portfolio/tle-live.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    background-position: center;
    width: 200px;
    height: 300px;
    max-width: 40ch;
    box-shadow: 2px 1px 5px rgba(189, 183, 180, 0.427);
    overflow: hidden;
    margin: 20px;
}

.fgllc {
    background: url("../images/Portfolio/fgpartial.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    background-position: left;
    width: 200px;
    height: 300px;
    max-width: 40ch;
    box-shadow: 2px 1px 5px rgba(189, 183, 180, 0.427);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}


/* ------------------ Card Features ------------------ */


.my-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: space-between;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 14px;
    transition: transform 500ms ease;
}
/* my-card animation */
.my-card:hover, .my-card:focus-within {
    transform: scale(1.05)
}

.card-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    max-height: 100%;
    max-width: 100%;
    --padding: 1rem 1rem 2.25rem 1.57rem;
    padding: var(--padding);
    background: linear-gradient(
        rgba(0, 0, 0, 1),
        rgb(0, 0, 20),
        rgba(0, 0, 0, 1)
    );
    background-size: cover;
    border-radius: 14px;
    box-shadow: 5px 1px 5px var(--primary-color);
    width: 300px;
    height: 400px;
    font-size: .6em;
    text-align: center;
    flex: 1 1 300px;
}

.card-content .sub-title {
    font-size: 11px;
    font-weight: bold;
    margin: -.3rem 0;
}


.card-title {
    position: relative;
    width: max-content; /* use this only if it's one line otherwise this will break */
     color: rgb(125, 124, 125);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0  1rem .2rem 0 ;
}
.card-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(var(--padding) + 100%);
    left: calc(var(--padding) * -1);
    background: rgb(125, 124, 125);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card-body .details {
    /* margin-top: rem; */
}

.my-card:hover .card-title::after, .my-card:focus-within .card-title::after {
    transform: scaleX(1);
}


.my-card .card-body {
    color: rgb(255, 255, 255, .8);
    font-weight: 100;
    font-size: .7rem;
    justify-self:flex-end;
    text-align: center;
    /* margin-top: 2.5em; */
    /* padding-right: 2.5rem; */
    padding-top: .6em;
    max-width: 100%;
    max-height: 400px;
    border-radius: 14px;
    flex:1;
}

.my-card .card-body::after {
    position: absolute;
}

.button-div {
    display: flex;
    place-content: center;
    flex-direction: column;
}

.card-button {
    display: flex;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: .5em;
    font-family: var(--Heading-font-family);
    color:white;
    background-color: var(--primary-color);
    padding: 0.5em 1.25em;
    border-radius: 14px;
    border: 2px solid rgb(125, 124, 125);
    width: 150px;
    margin-top: 10px;
    flex:1 1 10px;
}

.card-button:hover, .card-button:focus {
    background-color: rgb(218,218,218);
    color: var(--primary-color)
}

i {
        color: black;
        font-size: 1rem;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

/* ---------- Media Queries ---------- */

@media screen and (max-width: 940px) {
    .works {
        padding: 0;
        display: flex;
        width: 100vw;
        height: auto;
  
    }
.works-container, .case-studies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .title {
        text-align: center;
    }
    
    .my-card, .card-content {
        border-radius: 0;
    }

    
}

@media (hover) {

   .card-page-body {
        display: flex;
        flex-direction: column;
    }

    .card-content{
         margin-top: 1em;
    transform: translateY(65%);
    transition: transform 500ms ease;
    }

    .my-card:hover .card-content, .my-card:focus-within .content {
        transform: translateY(0%);
        transition-delay: 500ms;
    }

    .my-card:focus-within .card-content {
        transition-duration: 0s;
    }

    .card-content > *:not(.card-title) {
    opacity:1;
    transition: opacity 500ms linear;
    }

    .my-card:hover .card-content > *:not(.card-title, .my-card:focus-within .card-content > *:not(.card-title)){
    opacity:1;
    transition-delay: 1000ms;
    }

    .card-title::after{
    transform: scaleX(0);
    }

}

@media (prefers-reduced-motion: reduce) {

   *, ::before, ::after{
    animation-duration: 0.01ms!important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
    }

}



/* -------------------- Keep for now ------------------- */
/* 
.works .card-page-body, .works .card-page-body2 {
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 200px;
    width: 100%;
    min-height: 100vh;
    line-height: 1.6;
} */

/* Card overlay */
/* background: linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0,  0.3))
    , */