@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Raleway:ital,wght@0,100;0,300;1,100&family=Merriweather+Sans:wght@300;400;600;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,900;1,400;1,800&family=Grey+Qo&family=Italiana&display=swap');

:root {

  /* --------------
  My Variables 
  -------------- */

  /* ----- Colors ----- */
  --primary-color: rgba(0, 0, 0, 0.541);
  --primary-dark: rgb(9, 9, 9);
  --secondary-color:  rgb(144,144,144);
  --secondary-dark: rgb(21,21,21);
  --my-grey: rgb(94,94,94);
  
  --accent-react-blue-color: rgb(40,221,254);
  --accent-color-2: rgb(201, 200, 200);
  --accent-color-3: rgb(255,38,71);
  --accent-color-4: rgb(254,40,217);
  --accent-color-5: rgb(104,39,255);

  /* ----- Shadows ----- */

  --filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  
  --overlay: rgba(0, 0, 0, 0.141);
  --overlay-light: rgba(0, 0, 0, 0.141); 
 
  /* ----- Main Fonts - Global ----- */

  --Heading-font-family:'Merriweather Sans', serif;
  /* ----Weights: 300, 400, 600, 800 & Italics: 100 */

  --Main-font-family:'raleway', sans-serif;
  /* ----Weights: 100, 300*/

  --Quote-font-family: 'Playfair Display', serif;
  /* ----Weights: 400, 500, 600, 900 & Italics: 400, 800*/

 
  /* ----- Fonts - Responsive Sizing ----- */
  
  --fs-xl: 5rem;
  --fs-lg: 3rem;
  --fs-800: 2rem;
  --fs-700: 1.75rem;
  --fs-600:  1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;

  @media (min-width: 40em) {
    :root {
      
    --fs-xl: 7rem;
    --fs-lg: 5rem;
  --fs-800: 4rem;
  --fs-700: 2.75rem;
  --fs-600:  2.5rem;
  --fs-500: 2.25rem;
  --fs-400: 2rem;
    }
  }
}

  /* ---------- 
  Global Layout 
  ---------- */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow:visible;
}

html {
  background-color: var(--primary-dark);
}

body {
  place-items: center;
  font-family: var(--Main-font-family);
  font-size: var(--fs-500);
  line-height: 1.6;
  letter-spacing: .1em;
}



body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background: var(--overlay);
}

.bodybg {
  z-index: -1;
  display: block;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: auto;
  place-items: center;
  padding-bottom: 2rem;
}
h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: .5em;
}

h2 {
    color: white;
    font-family: var(--Main-font-family);
    /* text-transform: uppercase; */
    font-size: var(--fs-lg);
    font-weight: 100;
}

p {
  margin-bottom: .75em;
  color: white;
}

.heading {
  font-family: var(--Heading-font-family);
  color: white;
  font-size: var(--fs-700);
  text-align: center;
  text-transform: uppercase;
}

* .container {
  place-items: center;
  font-weight: 200;
}

.nav-item {
  color: white;
  font-family: var(--Main-font-family);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
} 

.nav-item .active {
  padding-bottom: .5em;
  border-bottom: 3px solid var(--accent-react-blue-color);
}

.nav-item a:hover {
  padding-bottom: .5em;
  border-bottom: 3px solid var(--accent-react-blue-color);
}

* .quotation {
  font-family: var(--Quote-font-family);
  font-style: italic;
  font-size: var(--fs-800);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ---------- Global Navigation ---------- */

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
}

* .button {
  padding: .5rem 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: var(--Heading-font-family);
  font-size: .5em;
  text-transform: uppercase;
  background-color: var(--accent-color-3);
  border: 1px solid var(--accent-color-4);
  border-radius: 8px;
  cursor:pointer;
}

.button:hover {
  background: var(--primary-color);
  border: 1px solid var(--accent-color-2);

}

.card {
  box-shadow: 5px 2px 5px var(--accent-react-blue-color);
}

.card>* {

}




/* ---------- Global Images ---------- */
img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.line {
  display: block;
  width: 80px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--accent-cream-color);
}

/* ---------- Global Media Queries ---------- */
@media screen  {
  * {
    place-items: center;
  }
}

 



