@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Grey+Qo&family=Merriweather+Sans:wght@300;400;600;800&family=Raleway:wght@100;400;500;600;700;800&display=swap');

:root {

  /* --------------
  My Variables 
  -------------- */

  /* ----- Colors ----- */
  --primary-color: rgba(0, 0, 0, 0.541);
  --primary-dark: rgb(20, 20, 20);
  --secondary-color:  rgb(189,189,189);
  --secondary-dark: rgb(21,21,21);
  --my-grey: rgb(94,94,94);
  
  --accent-react-blue-color: rgb(40,221,254);
  --accent-color-1: rgba(255, 255, 255, 0.034);
  --accent-color-2: rgb(218, 218, 218);
  --accent-color-3: rgb(189,189,189);
  --accent-color-4: rgb(54,70,73);
  --accent-color-5:  rgba(40, 222, 254, 0.799);

  /* ----- Shadows ----- */

  --filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  
  --overlay:linear-gradient(
    hsl(0 0% 0% / 1),
    rgba(75, 74, 74, 0.5) 20%,
    hsl(0 0% 0% / 0));
 
  /* ----- Main Fonts - Global ----- */

  --Heading-font-family:'Cairo', sans-serif;
  /* ----Weights: 400, 500, 600, 900 & Italics: 400, 800*/
  
  --Main-font-family:'raleway', sans-serif;
  /* ----Weights: 100 , 400, 500, 600, 700, 800  */

  --Quote-font-family: 'Cairo', sans-serif;
  /* ----Weights: 400, 500, 600, 900 & Italics: 400, 800*/

 
  /* ----- Fonts - Responsive Sizing ----- */
  
  --fs-xl: calc(7 * var(--bs-1));
  --fs-lg: calc(5 * var(--bs-1));
--fs-800: calc(4 * var(--bs-1))4rem;
--fs-700: calc(2.75 * var(--bs-1));
--fs-600:  calc(2.5 * var(--bs-1));
--fs-500: calc(2.25 * var(--bs-1));
--fs-400: calc(2 * var(--bs-1));

  /* base size (18px) */
  --bs-1: 18px;

  @media screen (min-width: 40em) {
    :root {
      
    --fs-xl: calc(5 * var(--bs-1));
    --fs-lg: calc(3 * var(--bs-1));
  --fs-800: calc(2 * var(--bs-1))4rem;
  --fs-700: calc(.75 * var(--bs-1));
  --fs-600:  calc(.5 * var(--bs-1));
  --fs-500: calc(.25 * var(--bs-1));
  /* --fs-400: calc(2 * var(--bs-1)); */
    }
  }
}

  /* ---------- 
  Global Layout 
  ---------- */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow:visible;
}

html {
  /* height: 100%; */
  background-color: rgb(15,16,14);
}

body {
  place-items: center;
  font-family: var(--Main-font-family);
  font-size: var(--fs-500);
  line-height: 1.6;
  letter-spacing: .1em;
}



body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background: var(--overlay);
}

.bodybg {
  z-index: -1;
  display: block;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: auto;
  place-items: center;
  padding-bottom: 2rem;
}

h2 {
    color: white;
    font-family: var(--Main-font-family);
    text-transform: uppercase;
    font-size: var(--fs-800);
    font-weight: 100;
} 

p {
  color: white;
  font-size: 1rem;
  font-family: var(--Main-font-family);
}

* .container {
  place-items: center;
  font-weight: 200;
}

.nav-item {
  color: white;
  font-family: var(--Main-font-family);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
} 

.nav-item .active {
  padding-bottom: .5em;
  color: var(--accent-react-blue-color);
}

.nav-item a:hover {
  padding-bottom: .5em;
  color: var(--accent-react-blue-color)
}

* .quotation {
  font-family: var(--Heading-font-family);
  /* font-style: italic; */
  font-size: var(--fs-400);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ---------- Global Navigation ---------- */

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
}

* .button {
  padding: .5rem 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: var(--Heading-font-family);
  font-size: .5em;
  text-transform: uppercase;
  background-color: var(--accent-color-3);
  border: 1px solid var(--accent-color-4);
  border-radius: 8px;
  cursor:pointer;
}

.button:hover {
  background: var(--primary-color);
  border: 1px solid var(--accent-color-2);

}



/* ---------- Global Images ---------- */
img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.line {
  display: block;
  width: 80px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--accent-react-blue-color);
}

/* ---------- Global Media Queries ---------- */
@media screen and (max-width: 940px) {

}

 



