@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Italiana&family=Raleway:ital,wght@0,100;0,300;1,100&display=swap');


:root {
  --primary-color: rgba(0, 0, 0, 0.541);
  --primary-dark: rgb(9, 9, 9);
  --secondary-color:  rgb(144,144,144);
  --secondary-dark: rgb(94,94,94);
  
  --accent-react-blue-color: rgb(40,221,254);
  --accent-soft-gray-color: rgb(210,210,210);
  --accent-beige-color: rgb(225,222,219);
  --accent-cream-color: rgb(250,249,244);

  --text-shadow: .2rem .4rem .4rem rgba(0,0,0,0.2), 0rem -.5rem .1rem rgba(255,255,255,0.15);
  --filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

  --overlay: rgba(0, 0, 0, 0.141);
  --overlay-light: rgba(0, 0, 0, 0.141); 

  --Heading-font-family:'Italiana', serif ;
  --Main-font-family: 'Raleway', sans-serif;
  
  /* Header Font:    */
  /* font-family: 'Grey Qo', cursive; */
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

h2 {
  color: var(--primary-dark);
    font-family: var(--Heading-font-family);
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem 0;
    margin-left: 3rem;
    /* text-shadow: var(--text-shadow); */
}

p {
  color: black;
}

.container {
  max-width: 100vw;
  margin: 0 3rem;
  font-family: var(--Main-font-family);
  text-align: justify;
}

a {
  color: white;
  font-family: var(--Main-font-family);
  font-size: 1rem;
  text-transform: uppercase;
}

a:hover {
  padding-bottom: .5em;
  border-bottom: .2rem double white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ---------- Global Navigation ---------- */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



/* ---------- Global Accents  ---------- */


.button {
  padding: 17px 28px;
  font-size: 1.2 rem;
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor:pointer;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 80px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--primary-color);

}


/* ---------- Global Images ---------- */


/* ----------- Global Media Queries Section ---------- */

@media screen and (max-width: 667px){
   
  h2 {
    padding: 2rem 0;
    text-align: center;
}
}
 



